<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSpan]="5">字典编号</nz-form-label>
        <nz-form-control>
            <input nz-input formControlName="id"/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngFor="let control of listOfControl;let i = index;">
        <nz-form-label nzRequired [nzSpan]="5">{{control.controlLabel}}</nz-form-label>
        <nz-form-control [nzHasFeedback]="true">
            <input nz-input  [formControlName]="control.controlKey"/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5">是否锁定</nz-form-label>
        <nz-form-control >
            <nz-radio-group nzName="lockFlag" formControlName="lockFlag" >
                <label nz-radio nzValue="true">解锁</label>
                <label nz-radio nzValue="false">锁定</label>
            </nz-radio-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
            <button nz-button nzType="primary">提交</button>
            <button [ngStyle]="{'margin-left':'2rem'}" nz-button (click)="resetForm($event)">重置</button>
        </nz-form-control>
    </nz-form-item>

</form>
