<!--顶部组-->
<div class="top-group">
  <!--顶部操作组-->
  <div class="top-group-operation">
    <button nz-button (click)="goAddDatum()" nzType="primary">添加</button>
    <button nz-button (click)="reloadData()" nzType="primary">刷新</button>
    <button *ngIf="checkedIds.size!=0" nz-button (click)="deleteData(checkedIds)" nzDanger nzType="primary">
      删除选中的【{{checkedIds.size}}】条记录
    </button>
  </div>

  <!--顶部过滤组-->
  <div class="top-group-filter">

    <form nz-form [formGroup]="filterForm" (submit)="search()" nzLayout="inline">
      <div nz-row [nzGutter]="[16, 24]">
        <div nz-col nzSpan="7">


          <nz-form-item>
            <nz-form-label>标签</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="labelLike" placeholder="清输入标签模糊筛选"/>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label>创建时间</nz-form-label>
            <nz-form-control>
              <nz-range-picker formControlName="createTimeRange"></nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="9">
          <nz-form-item>
            <nz-form-label>更新时间</nz-form-label>
            <nz-form-control>
              <nz-range-picker formControlName="updateTimeRange"></nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <nz-form-item>
          <nz-form-control>
            <button nz-button type="reset" nzType="primary">重置</button>
            <button nz-button type="submit" nzType="primary">搜索</button>
          </nz-form-control>
        </nz-form-item>
      </div>

    </form>
  </div>
</div>

<!--数据表格-->
<nz-table
  nzTitle="字典分类管理"
  nzBordered
  [nzData]="data"
  [nzFrontPagination]="false"
  [nzTotal]="total"
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  [nzShowSizeChanger]="true"
  [nzShowTotal]="showTotalTemplate"
  [nzLoading]="loading"
  (nzQueryParams)="onQueryParamsChange($event)"
>
  <!--表头-->
  <thead>
  <tr>
    <th [nzAlign]="'center'"
        [nzSelections]="selectedData"
        [nzChecked]="checked"
        [nzIndeterminate]="indeterminate"
        nzShowRowSelection="false"
        [nzSelections]="idSelection"
        (nzCheckedChange)="onAllCheckedChange($event)">

    </th>
    <th [nzAlign]="'center'" *ngFor="let columnItem of columnItems;let i=index;"
        [nzColumnKey]="columnItem.key" [nzFilterFn]="true" [nzSortFn]="true"
    >
      {{columnItem.name}}
<!--      <nz-filter-trigger [nzVisible]="true" [nzActive]="true" [nzDropdownMenu]="menu">-->
        <span *ngIf="columnItem.showFilter" nz-icon nzType="search" nz-popover (mouseover)="changeColumnName(i)" [nzPopoverContent]="sp"></span>
<!--      </nz-filter-trigger>-->
    </th>
    <th [nzAlign]="'center'">操作</th>
  </tr>
  </thead>
  <!--表体-->
  <tbody>
  <tr *ngFor="let datum of data">
    <td
      [nzAlign]="'center'"
      [nzChecked]="checkedIds.has(datum.id!!)"
      (nzCheckedChange)="onDatumCheckedChange(datum.id!!, $event)"
    ></td>
    <td [nzAlign]="'center'" *ngFor="let columnItem of columnItems">{{datum[columnItem.key]}}</td>
    <td [nzAlign]="'center'" nzAlign="center">
      <a nz-button nzType="link" (click)="goEditDatum(datum)">编辑</a>
      <a nz-button nzType="link" (nzOnConfirm)="deleteDatum(datum.id)" nzDanger nz-popconfirm
         nzPopconfirmTitle="确定删除该项吗?" nzOkText="确定"
         nzCancelText="取消">删除</a>
    </td>
  </tr>
  </tbody>

</nz-table>

<!--显示总量相关的信息-->
<ng-template #showTotalTemplate let-total let-range="range">
  当前：【{{range[0]}} - {{range[1]}}】 总共： 【{{total}}】 个记录
</ng-template>


<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input type="text" nz-input placeholder="Search name" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
      <button nz-button nzSize="small" >Reset</button>
    </div>
  </div>
</nz-dropdown-menu>


<ng-template #sp>
  <app-column-filter  [columnName]="searchColumnName" [columnKey]="searchColumnKey"  (searchEmitter)="handleFilterSearch($event)"></app-column-filter>
</ng-template>

<!-- 新增/编辑数据的对话框 -->
<nz-modal
  [nzVisible]="modalVisible"
  (nzOnCancel)="handleCancel()"
  [nzFooter]=null
  nzClosable="false"
>
  <div *nzModalContent>
    <app-dictionary-type-form (dataRefresh)="handleDataRefresh($event)" [isCreate]="!editDatum" [datum]="editDatum"></app-dictionary-type-form>
  </div>

</nz-modal>
